[Desktop Entry]
Type=Application
Version=1.0.1
Desktop_dir=/opt/osep-s3-txtend
Name=osep-s3-extend 
Comment=osep-s3-extend
Icon=/opt/osep-s3-extend/images/osep.png
Exec=/usr/bin/osep-s3-extend
Terminal=true
